/* line 1, ../../src/sass/main.scss */
body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-weight: bold;
  overflow: hidden;
}

/* line 9, ../../src/sass/main.scss */
#textures {
  display: none;
}
