/* line 3, ../../src/sass/main.scss */
body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-weight: bold;
  overflow: hidden;
}

/* line 11, ../../src/sass/main.scss */
#scene {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 20, ../../src/sass/main.scss */
#textures {
  display: none;
}

/* line 24, ../../src/sass/main.scss */
#maps {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 31, ../../src/sass/main.scss */
#colors {
  display: none;
}
